/local/share/fonts/.uuid
/config/nvim/coc-settings.json
/config/*

!/config/compton.conf
!/config/user-dirs.dirs
!/config/user-dirs.locale

!/config/alacritty/
!/config/bash/
!/config/dunst/
!/config/i3/
!/config/i3blocks/
!/config/lemonbar/
!/config/less/
!/config/nvim/
!/config/openbox/
!/config/polybar/
!/config/shell/
!/config/stumpwm/
!/config/sxiv/
!/config/tint2/
!/config/vim/
!/config/vifm/vifmrc
!/config/X11/
!/config/zathura/
!/config/zsh
